# Import modules

In [1]:
import pandas as pd

# Before you begin...

Make a `dataset` directory at the root of this project and place your json files in there.

# Convert datasets to CSV

I tried countless methods to read the data into a dataframe directly from `JSON` however I was not successful. the [yelp/dataset-examples](https://github.com/Yelp/dataset-examples/blob/master/json_to_csv_converter.py) has a `json_to_csv_converter` which can be used to convert the data to `csv`.

## Log of attempt to load JSON data

```
** <2018-02-04 Sun>
- Note taken on [2018-02-04 Sun 18:16] \\
  [[https://www.dataquest.io/blog/python-json-tutorial/][blogpost]] on some techniques to deal with large datasets
- Note taken on [2018-02-04 Sun 18:16] \\
  trying to load the =review.json= file but experiencing weird problems.
  Found a [[https://github.com/pandas-dev/pandas/issues/18152][issue]] on the pandas repository which documents the same error
  that I am seeing. The conclusion seems to be that the json file was
  malformed. I need to verify if my dataset has any issues.
** <2018-02-05 Mon>
- Note taken on [2018-02-06 Tue 12:18] \\
  the converter works when executed with python2!
- Note taken on [2018-02-05 Mon 22:43] \\
  found a =json= to =csv= converter at the [[https://github.com/Yelp/dataset-examples/blob/master/json_to_csv_converter.py][yelp/dataset-examples]] repo. The
  code is for python 2 so need to make a few adjustments before it works.
```

**Note:** the following cell will take time to execute, might want to go grab some ☕️. Alternatively, I would recommend manually converting only the files you need in the shell.

In [6]:
%%bash
for file in dataset/*.json;
do
    echo "converting $file to csv..."
    python2 lib/json_to_csv_converter.py $file;
done
# python2 lib/json_to_csv_converter.py

# Load the datasets

In [2]:
# just a few for quick loading and playing around
businesses = pd.read_csv('dataset/business.csv', nrows=1000)
reviews = pd.read_csv('dataset/review.csv', nrows=1000)
users = pd.read_csv('dataset/user.csv', nrows=1000)

In [3]:
reviews.head()

,funny,user_id,review_id,text,business_id,stars,date,useful,cool
0,0,bv2nCi5Qv5vroFiqKGopiw,v0i_UHJMo_hPBq9bxWvW4w,"Love the staff, love the meat, love the place....",0W4lkclzZThpx3V65bVgig,5,2016-05-28,0,0
1,0,bv2nCi5Qv5vroFiqKGopiw,vkVSCC7xljjrAI4UGfnKEQ,Super simple place but amazing nonetheless. It...,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,0,0
2,0,bv2nCi5Qv5vroFiqKGopiw,n6QzIUObkYshz4dz2QRJTw,Small unassuming place that changes their menu...,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,0,0
3,0,bv2nCi5Qv5vroFiqKGopiw,MV3CcKScW05u5LVfF6ok0g,Lester's is located in a beautiful neighborhoo...,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,0,0
4,0,bv2nCi5Qv5vroFiqKGopiw,IXvOzsEMYtiJI0CARmj77Q,Love coming here. Yes the place always needs t...,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,0,0

In [4]:
users.head()

,yelping_since,useful,compliment_photos,compliment_list,compliment_funny,compliment_plain,review_count,elite,fans,compliment_note,...,compliment_cute,average_stars,user_id,compliment_more,friends,compliment_hot,cool,name,compliment_profile,compliment_cool
0,2014-11-03,0,0,0,0,1,8,[],0,0,...,0,4.67,oMy_rEb0UBEmMlu-zcxnoQ,0,"['cvVMmlU1ouS3I5fhutaryQ', 'nj6UZ8tdGo8YJ9lUMT...",0,0,Johnny,0,0
1,2013-09-24,0,0,0,0,0,10,[],0,0,...,0,3.70,JJ-aSuM4pCFPdkfoZ34q0Q,0,"['0njfJmB-7n84DlIgUByCNw', 'rFn3Xe3RqHxRSxWOU1...",0,0,Chris,0,0
2,2017-03-02,0,0,0,0,0,1,[],0,0,...,0,2.00,uUzsFQn_6cXDh6rPNGbIFA,0,[],0,0,Tiffy,0,0
3,2015-03-13,0,0,0,0,0,6,[],0,0,...,0,4.67,mBneaEEH5EMyxaVyqS-72A,0,[],0,0,Mark,0,0
4,2016-09-08,0,0,0,0,0,3,[],0,0,...,0,4.67,W5mJGs-dcDWRGEhAzUYtoA,0,[],0,0,Evelyn,0,0

In [5]:
businesses.head()

,attributes.Ambience.divey,attributes.RestaurantsDelivery,attributes.DogsAllowed,postal_code,hours.Thursday,attributes.HairSpecializesIn.coloring,attributes.BestNights.sunday,attributes.BYOB,attributes.AgesAllowed,hours.Friday,...,attributes.Caters,attributes.RestaurantsReservations,attributes.DietaryRestrictions.dairy-free,attributes.DietaryRestrictions.vegan,attributes.Ambience.romantic,attributes.Music.jukebox,attributes.Ambience.upscale,attributes.RestaurantsTakeOut,attributes.BikeParking,attributes.OutdoorSeating
0,NaN,NaN,NaN,85044,7:30-17:00,NaN,NaN,NaN,NaN,7:30-17:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,15317,9:00-20:00,True,NaN,NaN,NaN,9:00-16:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,85017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,85282,10:00-21:00,NaN,NaN,NaN,NaN,10:00-21:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
4,False,False,NaN,44221,11:00-1:00,NaN,False,NaN,NaN,11:00-1:00,...,False,False,NaN,NaN,False,False,False,True,True,True

In [6]:
businesses.shape

(1000, 101)

In [7]:
businesses.columns

Index(['attributes.Ambience.divey', 'attributes.RestaurantsDelivery',
       'attributes.DogsAllowed', 'postal_code', 'hours.Thursday',
       'attributes.HairSpecializesIn.coloring', 'attributes.BestNights.sunday',
       'attributes.BYOB', 'attributes.AgesAllowed', 'hours.Friday',
       ...
       'attributes.Caters', 'attributes.RestaurantsReservations',
       'attributes.DietaryRestrictions.dairy-free',
       'attributes.DietaryRestrictions.vegan', 'attributes.Ambience.romantic',
       'attributes.Music.jukebox', 'attributes.Ambience.upscale',
       'attributes.RestaurantsTakeOut', 'attributes.BikeParking',
       'attributes.OutdoorSeating'],
      dtype='object', length=101)